{
	"fuckingworkyoupieceofshit": {
		"level": 0,
		"action": "make me, bitch"
	},
	"adminCommand": {
		"level": 1,
		"action": "This command is locked to Admins or above."
	},
	"simpleMessageForAllUsers": "If your command does not need an authority level, you can just use string syntax."
}